html, body {
	height: 100%;
	width: 100%;
}

.leaderboard {
	width: 100%;
	min-height: 20%;
	background-color: #232323;
}

.leaderboard h1 {
	padding-top: 40px;
	font-family: Cinzel;
	color: #00b5ad;
	text-align: center;
	font-size: 86px;
}

.leaderboard h4 {
	font-family: Cinzel;
	color: #00b5ad;
	text-align: center;
	padding-bottom: 40px;
}

.item .content {
	text-align: justify;
	padding-top: 20px !important;
	padding-bottom: 20px !important;
 	padding-right: 20px !important;
 	padding-left: 20px !important;
}

body {
	background: #333 url(images/footer_lodyas.png) center center;
	background-attachment: fixed;
}

.ui.items > .item > .content > span.header {
	font-family: Cinzel;
	color: #00b5ad;
}

ul li, ol li {
	color: #8a8888;
}

p {
	color: #8a8888;
}

a {
	color: #00b5ad;
}

pre {
	color: #8a8888;
	font-size: 0.9em;
	background: rgba(0,0,0,0.1);
	border: 1px solid rgba(0,0,0,0.2);
    white-space: pre-wrap;
	padding: 5px;
}

.ui.items > .item .meta {
	color: #5c5a5b;
}

.ui.divided.items>.item {
	border-top: 2px solid #00b5ad;
}

.ui.items>.item a {
	color: #00b5ad;
}

.ui.segment {
	background: rgba(132, 132, 132, 0.3);
}

.ui.segment h2 {
	text-align: center;
	font-family: Cinzel;
	color: #00b5ad;
}

.ui.segment p {
	text-align: justify;
}
